.alert-content {
    display: flex;
}

::deep .alert-icon {
    font-size: x-large;
}

.alert-body {
    padding: 0px 16px 0px 8px;
}

.alert-message {
    font-size: 14px;
    color: gray;
}

.alert-title {
    padding-right: 10px;
}
