@page "/settings"
@inject IStringLocalizer<App> Localizer

<div class="ant-card ant-card-bordered ant-card-body" style="min-width: fit-content;">
    <PageHeader Title="@Localizer["Settings"]"></PageHeader>
    <div class="ant-card ant-card-body">
        <Settings />
        </div>
</div>
